body {
    font-family: "Arimo", sans-serif;
    background-color: #181818;
    color: #F3F6F9;
    box-sizing: border-box;
    width: 1440px;
    height: 1000px;
    margin: 0 auto;
}

header {
    width: 930px;
    margin: 0 auto;
}

/* Кнопки вверху сайта "Список Фильмов" "2025" */
.btn_movie-list,
.btn_year-movie {
    margin-left: 74px;
    margin-top: 80px;
    margin-bottom: 20px;
    width: 183px;
    height: 30px;
    background-color: #6532F8;
    border-radius: 10px;
    border: none;
    color: white;
}

.btn_year-movie {
    width: 75px;
    margin-left: 0px;
}

.btn_movie-list:hover,
.btn_year-movie:hover {
    opacity: 70%;
}

.main {
    width: 930px;
    margin: 0 auto;
}

h1 {
    font-size: 120px;
    font-weight: 400;
    line-height: 138px;
    letter-spacing: -4%;
    text-align: left;
    margin-left: 74px;
    margin-bottom: 45px;
}

.container {
    width: 930px;
    height: 800px;
    margin: 0 auto;
    
}

.add_movies {
    /* width: 100%; */
    width: 930px;
    /* height: 700px; */
    padding-top: 60px;
    background-color: #232323;
    border-radius: 20px;
    margin: 0 auto;
    padding: 60px 70px 60px 70px;
}

.box-add_movies-name {
    margin: 0 auto;
} 

 .add_movies-name {
    width: 411px;
    height: 62px;
    border: none;
    color: white;
    border-bottom: 2px solid grey;
    background-color: transparent;
    margin-bottom: 40px;
    



    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: -2%;
    text-align: left;
}

.btn_add-movies {
    width: 62px;
    height: 62px;
    padding: 15px;
    border-radius: 50px;
    background-color: #6532F8;
    color: white;
    border: none;
}

.btn_add-movies:hover {
    opacity: 50%;
}

/* Список фильмов */
/* Должен меняться цвет фона блока при нажатии на кружочек и текст нужно сделать левее */
.movie_item {
    width: 790px;
    display: flex; /* Что-то тут нужно допилить для расположения круг-текст-х */
    justify-content: space-between; /* Что-то тут нужно допилить для расположения круг-текст-х */
    padding: 29px 24px 28px 20px;
    margin-bottom: 3px;
    border-radius: 10px;
    background-color: #3A3939;
}

.movie_item.active {
    opacity: 30%;/* новый цвет фона при активации */
  }

.movie_text {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -2%;
    display: block;
    /* text-align: left; */
    float: left;
    color: #F3F6F9;
}

.icon_Movie {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 1px solid grey;
    cursor: pointer;
    color: blueviolet;
}

.icon_Movie.cross_out_type {
    background-color: blueviolet;
}

.cross_out_movie {
    text-decoration: line-through;
    color: grey;
}

.movie_item.cross_out_type {
    background-color: #3A3939;
}

.delete_movie {
    cursor: pointer;
    width: 23px;
    height: 23px;
}

.delete_movie img {
    width: 100%;
    height: 100%;
}

/* Список фильмов */
/*.movie_item {
    max-width: 100%;
    width: 790px;
    margin: 0   auto;
    display: flex;
    justify-content: space-between;
    padding: 29px 24px 28px 20px;
    margin-bottom: 3px;
    border-radius: 10px;
    background-color: #3A3939;
    border: 2px solid green;
}*/

/* 
@media (max-width:750px) {

    .container {
        width: 100%;
    }

    header {
        width: 100%;
        display: flex;
    }

    .add_movies {
        width: 400px;
        padding: 10px 50px;
    }

    h1 {
        font-size: 50px;
        margin-left: 150px;
    }


} */