body {
    font-family: "Arimo", sans-serif;
    /* background-color: rgba(14, 13, 13, 0.921); */
    background-color: #181818;
    color: #F3F6F9;
    box-sizing: border-box;
}

.container {
    width: 900px;
}

header {
    display: flex;
    width: 100%;
    margin-left: 50px;
}

main {
    max-width: 1180px;
    padding: 15px 0;
    margin: 0 auto;
}

h1 {
    font-size: 70px;
    margin-left: 200px;
}

.btn_movie-list,
.btn_year-movie {
    margin-left: 200px;
    margin-top: 30px;
    width: 183px;
    height: 30px;
    background-color: #6532F8;
    border-radius: 10px;
    border: none;
    color: white;
}

.btn_year-movie {
    width: 75px;
    margin-left: 0px;
}

.btn_movie-list:hover,
.btn_year-movie:hover {
    opacity: 70%;
}

.btn_add-movies {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50px;
    background-color: #6532F8;
    color: white;
    border: none;
}

.btn_add-movies:hover {
    opacity: 50%;

    
}

.add_movies-name {
    width: 250px;
    height: 30px;
    border: none;
    color: white;
    border-bottom: 2px solid grey;
    background-color: transparent;
    margin-bottom: 10px;



    /* font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: -2%;
    text-align: left;
    color: red; */
}

.add_movies {
    width: 630px;
    padding: 10px 100px;
    margin: 80px;
    /* background-color: rgb(53, 56, 56); */
    background-color: #232323;
    border-radius: 20px;
}

/* Список фильмов */
.movie_item {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 29px 24px 28px 20px;
    margin-bottom: 3px;
    border-radius: 10px;
    background-color: #3A3939;
    /* border: 2px solid green; */

    /* font-family: Arimo;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -2%;
    text-align: left;
    color: #F3F6F9; */
}

.movie_text {
    display: flex;
    justify-content: center;
    font-family: Arimo;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -2%;
    text-align: left;
    color: #F3F6F9;
}

.icon_Movie {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid grey;
    cursor: pointer;
    color: blueviolet;
}

.icon_Movie.cross_out_type {
    background-color: blueviolet;
}

.cross_out_movie {
    text-decoration: line-through;
    color: grey;
}

.delete_movie {
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.delete_movie img {
    width: 100%;
    height: 100%;
}

@media (max-width:750px) {

    .container {
        width: 100%;
    }

    header {
        width: 100%;
        display: flex;
    }

    .add_movies {
        width: 400px;
        padding: 10px 50px;
    }

    h1 {
        font-size: 50px;
        margin-left: 150px;
    }


}